div.file-upload .url-input {
	margin-bottom: 10px;
	width: 100%;
}
div.file-upload button {
	width: 100%;
}
div.file-upload label {
	width: 100%;
}

div.file-upload .drop-zone {
	border: 2px #ccc dashed;
	height: 175px;
	background-color: #fff;
	margin-bottom: 15px;
	padding: 0;
	left: 17px;
}
div.file-upload .drop-zone > p {
	color: #ccc;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
	line-height: 175px;
}

div.file-upload .image-thumbnail {
	position: relative;
	background-color: #eee;
	text-align: center;
	height: 175px;
	margin-bottom: 15px;
}
div.file-upload .image-thumbnail img {
	height: 100%;
}
div.file-upload .glyphicon-remove {
	position: absolute;
	font-size: 30px;
	top: 10px;
	right: 25px;
	z-index: 10;
	color: #f00;
}

div.file-upload progress {
	width: 100%;
}
div.file-upload .error-message {
	color: #f00;
}
div.file-upload .success-message {
	color: #00cd00;
}

div.file-upload .hidden {
	display: none;
}