<div class="row">
	<div class="col-xs-12 col-sm-6">
		{{file-upload
			label="Upload an Image"
			uploadEndpoint="http://www.audiorogue.com/image_upload_component/app/api.php/images"
			allowedMimeTypes=testAllowedMimeTypes
			fileUrlBinding="testFileUrl"
		}}
	</div>
</div>