<div class="row">
	<div class="col-xs-12 col-sm-6">
		{{image-upload
			label="Upload an Image"
			uploadEndpoint="http://www.audiorogue.com/image_upload_component/app/index.php/images"
		}}
	</div>
</div>